# Data Merging

In [4]:
import pandas as pd
import numpy as np

data1={
    "id":[1,2,3],
    "Name":["Anees","Ali","Kamran"],
    "Age":[20,21,23]

}
df1=pd.DataFrame(data1)

data2={
    "id":[1,2,4],
    "city":["larkana","hyderabad","karachi"],
    "Occupation":["Student","Teacher","Doctor"]
}
df2=pd.DataFrame(data2)

data=pd.merge(df1,df2,on="id",how="inner")
data.head()

   id   Name  Age       city Occupation
0   1  Anees   20    larkana    Student
1   2    Ali   21  hyderabad    Teacher