# Data Preprocessing

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
data={
    "ID": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "Name": ["John", "Anna", "Peter", "Linda", "James", "Susan", "Tom", "Emma", "Robert", "Olivia"],
    "Age": [25, 30, 35, None, 40, 29, 50, 27, 45, 32],
    "Salary": [50000, 60000, None, 70000, 80000, 55000, 90000, None, 85000, 62000],
    "Department": ["IT", "HR", "Finance", "IT", "Finance", "HR", "IT", "HR", "Finance", "IT"],
    "Experience": [2, 5, 8, 10, 12, 4, 15, 3, 14, 6]
}
data=pd.DataFrame(data)

data.fillna(data.select_dtypes(include=np.number).mean(), inplace=True)
data.head()

   ID   Name        Age   Salary Department  Experience
0   1   John  25.000000  50000.0         IT           2
1   2   Anna  30.000000  60000.0         HR           5
2   3  Peter  35.000000  69000.0    Finance           8
3   4  Linda  34.777778  70000.0         IT          10
4   5  James  40.000000  80000.0    Finance          12