# Data Preprocessing

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
data={
    "ID": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "Name": ["John", "Anna", "Peter", "Linda", "James", "Susan", "Tom", "Emma", "Robert", "Olivia"],
    "Age": [25, 30, 35, None, 40, 29, 50, 27, 45, 32],
    "Salary": [50000, 60000, None, 70000, 80000, 55000, 90000, None, 85000, 62000],
    "Department": ["IT", "HR", "Finance", "IT", "Finance", "HR", "IT", "HR", "Finance", "IT"],
    "Experience": [2, 5, 8, 10, 12, 4, 15, 3, 14, 6]
}
data=pd.DataFrame(data)

data.fillna(data.select_dtypes(include=np.number).mean(), inplace=True)
data.head()
data.dropna(axis=1,inplace=True)
data.head()
data.to_csv('processed_data.csv', index=False)