In [1]:
# Data inconsistencies

import pandas as pd

data = {
    "ID": [1, 2, 3, 4, 5, 6, 7, 8],
    "Name": ["John Doe", "Jane Smith", None, "Sarah Connor", "John Doe", "Emily Davis", None, "Michael Brown"],
    "Age": [29, 22, 31, -5, 29, 27, None, 45],
    "Email Address": ["johndoe@gmail.com", "janesmith", "mike.rogers@example.com", "sarah.connor@email",
                      "johndoe@gmail.com", "emily.davis@gmail", None, "mike.brown@email.com"],
    "Join Date": ["2023-07-15", "2023/08/10", "2023-07-32", "15th Aug 23", "2023-07-15", "2023-09-12", None, "2023-11-05"],
    "Country": ["USA", "US", "United States", "USA", "USA", None, None, "U.S.A."],
    "Phone Number": ["123-456-7890", "456-789-0123", "(123)4567890", "+1 23456789", "123-456-7890", "123-456", None, "789-012-3456"],
}

# data.haead() isme error dega apko isko panadas data frame mai convert krna prega

df = pd.DataFrame(data) 

df

In [ ]:
# This is inconsistent data


data = {
    "Date": ["2021-05-10", "May 15, 2021", "2021/06/01", "06-12-2021", "2022-03-01",
             "March 5, 22", "2022/04/10", "04-15-2022", "2022-05-10", None],
    "Country": ["USA", "United States", "US", "U.S.A.", "USA",
                "United States", "U.S", "USA", None, "U.S.A"],
    "Name": ["John Doe", "Jonh Do", "J. Doe", "Jane Smith", "Jane S",
             "J.S.", None, "Michael Brown", "Mike B.", "Michael B."],
    "Sales 2021": [5000, 5200, 5400, 5500, 5700, 6000, None, 6300, 6400, None],
    "Sales 2022": [6000, 6100, 6200, None, 6800, 7000, 7200, 7400, None, 7500],
}
df=pd.DataFrame(data)
df.head()

In [ ]:
df=pd.DataFrame(data)